<!DOCTYPE html>
<html>
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->

    <meta charset="UTF-8">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link href="~/Content/css/linearicons.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />

</head>
<body>
    <header id="header">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="~/Content/img/logo.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li>@Html.ActionLink("Manage Courses", "ManageCourses", "Admin")</li>
                        <li>@Html.ActionLink("Manage Annoucements", "ManageAnnoucements", "Admin")</li>
                        <li>@Html.ActionLink("Manage Students", "ManageStudent", "Admin")</li>
                        <li>@Html.ActionLink("Manage Instructors", "ManageInstructors", "Admin")</li>
                        <li>@Html.ActionLink("Manage Reports", "ManageReports", "Admin")</li>
                        <li>Log Out</li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-between">
                <div class="banner-content col-lg-9 col-md-12">
                    <h1 class="text-uppercase">
                        We Ensure better education
                        for a better world
                    </h1>
                    @Html.ActionLink("Add Courses", "AddCourse", "Admin")
                    &nbsp;&nbsp;
                    @Html.ActionLink("Add Instructors", "AddInstructor", "Admin")
                    &nbsp;&nbsp;
                    @Html.ActionLink("Add Announcements", "AddAnnouncement", "Admin")
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    @RenderBody()
    <!-- start footer Area -->
    <footer class="footer-area section-gap">

        <div class="footer-bottom row align-items-center justify-content-between">
            <p class="footer-text m-0 col-lg-3 col-md-3">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved. Developed By UET CSE Students.
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>

        </div>
    </footer>
    <!-- End footer Area -->
    <!-- Scripts -->
    <script src="~/Content/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Content/js/easing.min.js"></script>
    <script src="~/Content/js/hoverIntent.js"></script>
    <script src="~/Content/js/superfish.min.js"></script>
    <script src="~/Content/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.tabs.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/mail-script.js"></script>
    <script src="~/Content/js/main.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
