@model  IMS.Models.CourseModels.ShowCoursesModel
@{
    ViewBag.Title = "Home Page";
}
<!-- Start popular-courses Area -->
<section class="popular-courses-area section-gap courses-page">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Popular Courses we offer</h1>
                    <p>There is a moment in the life of any aspiring.</p>
                </div>
            </div>
        </div>
@foreach (Course c in Model.allCourses.AsEnumerable())
{
    <div class="row">
        <div class="single-popular-carusel col-lg-3 col-md-6">
            <div class="thumb-wrap relative">
                <div class="thumb relative">
                    <div class="overlay overlay-bg"></div>
                    <span class="img-fluid"><img src="@c.ImagePath" alt=""></span>
                </div>
                <div class="meta d-flex justify-content-between">
                    <h4>@c.Fee</h4>
                </div>
            </div>
            <div class="details">
                <a href="course-details.html">
                    <h4>
                        @c.Name
                    </h4>
                </a>
                <p>
                    @*@Html.DisplayFor(modelItem => item.Type)*@
                    @c.StartDate
                    @c.EndDate      
                </p>
            </div>
        </div>

    </div>
}
                  <a href="#" class="primary-btn text-uppercase mx-auto">Load More Courses</a>
    </div>
</section>
<!-- End popular-courses Area -->

<!-- End popular-courses Area -->