@model IMS.Models.CourseModels.AddCourseModel
@{
    ViewBag.Title = "AddCourses";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="col-lg-4 col-md-6 search-course-right section-gap">
    <form class="form-wrap" action="/Student/Register" style="padding-top:0em" method="post">
        
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter Name" })
            @Html.TextBoxFor(m => m.Type, new { @class = "form-control", placeholder = "Enter Type of Course" })
            @Html.TextBoxFor(m => m.Fee, new { @class = "form-control", placeholder = "Enter Fee" })

            @Html.TextBoxFor(m => m.StartDate, new { @type = "date", @class = "form-control", placeholder = "Enter Start Date" })
            @Html.TextBoxFor(m => m.StartDate, new { @type = "date", @class = "form-control", placeholder = "Enter End Date" })

            <button class="primary-btn text-uppercase">Add Course</button>
       </form>
</div>