@model IMS.Models.CourseModels.AddCourseModel
@{
    ViewBag.Title = "AddCourses";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<div class="col-lg-6 col-md-6 ">
    <form class="form-wrap" action="/Admin/AddCourse" style="padding-top:0em" method="post">
        
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter Name" })
            @Html.TextBoxFor(m => m.Fee, new { @class = "form-control", placeholder = "Enter Fee" })
            Start Date: @Html.TextBoxFor(m => m.StartDate, new { @type = "date", @class = "form-control", placeholder = "Enter Start Date"})
            End Date: @Html.TextBoxFor(m => m.StartDate, new { @type = "date", @class = "form-control", placeholder = "Enter End Date" })
            @Html.CheckBoxFor(m => m.isShort, new { @checked = "checked" }) Short Course
            <br />
            <button class="primary-btn text-uppercase">Add Course</button>
       </form>
</div>
