@model IMS.Models.InstructorModels.RegisterInstructorModel

@{
    ViewBag.Title = "AddInstructor";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="col-lg-6 col-md-6">
    <form class="form-wrap" action="/Admin/AddInstructor" style="padding-top:0em" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <hr />
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Enter First Name" })
        @Html.ValidationMessageFor(m => m.FirstName)
        <br />
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter Last Name" })
        @Html.ValidationMessageFor(m => m.LastName)
        <br />
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter Email" })
        @Html.ValidationMessageFor(m => m.Email)
        <br />
        @Html.LabelFor(m => m.Contact)
        @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", placeholder = "Enter Phone Number" })
        @Html.ValidationMessageFor(m => m.Contact)
        <br />
        @Html.LabelFor(m => m.Cnic)
        @Html.TextBoxFor(m => m.Cnic, new { @class = "form-control", placeholder = "Enter CNIC" })
        @Html.ValidationMessageFor(m => m.Cnic)
        <br />
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Enter City" })
        @Html.ValidationMessageFor(m => m.City)
        <br />
        @Html.LabelFor(m => m.DOB)
        @Html.TextBoxFor(m => m.DOB, new { @type = "date", @class = "form-control", placeholder = "Enter Date Of Birth" })
        @Html.ValidationMessageFor(m => m.DOB)
        <br />
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control", placeholder = "Enter Password" })
        @Html.ValidationMessageFor(m => m.Password)
        <br />
        <button class="primary-btn text-uppercase">Add Instructor</button>
    </form>
</div>
