@model  IEnumerable<Announcement>
@{
    ViewBag.Title = "manageAnnoucements";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div>
    <table style="width:100%">
        <tr>
            <th>AnnoucementID</th>
            <th>NewsText</th>
            <th>AnnoucementDate</th>
            <th>CourseID</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnoucementDate)
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.ActionLink("Update", "Update")
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete")
        </td>
    </tr>
}
    </table>
</div>



