@model  IEnumerable<Course>
@{
    ViewBag.Title = "manageCourses";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div>
    <table style="width:100%">
        <tr>
            <th>CourseID</th>
            <th>CourseName</th>
            <th>CourseType</th>
            <th>CourseFee</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Update</th>
            <th>Delete</th>
         </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if(item.Type == 0)
            {
                @("Short")
            }
            else
            {
                @("Full")
            }

        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @(item.StartDate.Day.ToString() + '/' +item.StartDate.Month.ToString() + '/' + item.StartDate.Year.ToString())
        </td>
        <td>
           @(item.EndDate.Day.ToString() + '/' + item.EndDate.Month.ToString() + '/' + item.EndDate.Year.ToString())
        </td>
        <td>
            @Html.ActionLink("Update", "UpdateCourse",  new { Id = item.Id })
        </td>
        <td>
            <a href="/Admin/DeleteCourse/@item.Id" onclick="$.post(this.href); return false;">Delete</a>

        </td>
    </tr>
}
    </table>
</div>
